                body {
                    width: 100%;
                    max-width: 700px;
                    min-width: 400px;
                    margin: 0 auto;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #666;
                    font-family: Arial, Helvetica, sans-serif;
                    /* background-color: #ccc;
                    height: 2000px; */
                }
                
                a {
                    text-decoration: none;
                    color: #666;
                }
                
                * {
                    box-sizing: border-box;
                    -webkit-tap-highlight-color: transparent;
                    /*高亮清除*/
                }
                
                input {
                    -webkit-appearance: none;
                }
                
                img,
                a {
                    vertical-align: middle;
                    -webkit-touch-callout: none;
                }
                /*禁用长按页面时弹出菜单
}

/* 顶部 */
                
                header {
                    height: 45px;
                }
                
                header ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                }
                
                header ul li {
                    float: left;
                    height: 45px;
                    background-color: #333;
                    text-align: center;
                    line-height: 45px;
                    color: #fff;
                }
                
                header ul li:nth-child(1) {
                    width: 8%;
                }
                
                header ul li:nth-child(1) img {
                    width: 10px;
                }
                
                header ul li:nth-child(2) {
                    width: 10%;
                }
                
                header ul li:nth-child(2) img {
                    width: 30px;
                    vertical-align: middle;
                }
                
                header ul li:nth-child(3) {
                    width: 57%;
                }
                
                header ul li:nth-child(4) {
                    width: 25%;
                    background-color: #f63515;
                }
                /* 搜索 */
                
                .search {
                    position: fixed;
                    width: 100%;
                    /*固定定位要加宽度*/
                    max-width: 700px;
                    min-width: 400px;
                    overflow: hidden;
                    height: 44px;
                }
                
                .search .search-left {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;
                    height: 44px;
                }
                
                .search .search-left img {
                    width: 20px;
                    margin: 14px 0 0 15px;
                }
                
                .search .search-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 44px;
                    color: #fff;
                    line-height: 44px;
                }
                
                .search .search-center {
                    position: relative;
                    height: 30px;
                    border-radius: 15px;
                    margin: 0 45px;
                    background-color: #fff;
                    margin-top: 7px;
                }
                
                .jd-icon {
                    position: absolute;
                    top: 8px;
                    left: 13px;
                    width: 20px;
                    height: 15px;
                    background: url(../images/jd.png) no-repeat;
                    background-size: 20px 15px;
                }
                
                .jd-icon::after {
                    position: absolute;
                    top: 0;
                    right: -12px;
                    content: "";
                    display: block;
                    width: 1.5px;
                    height: 15px;
                    background-color: #ccc;
                }
                
                .glass {
                    position: absolute;
                    top: 8px;
                    left: 50px;
                    width: 18px;
                    height: 15px;
                    background: url(../images/jd-sprites.png) no-repeat -81px 0;
                    background-size: 200px auto;
                    /*将精灵图缩小两倍*/
                }
                
                .slider img {
                    width: 100%;
                }
                
                .brand {
                    border-radius: 14px 14px 0 0;
                    overflow: hidden;
                }
                
                .brand div {
                    float: left;
                    width: 33.33%;
                }
                
                .brand div img {
                    width: 100%;
                }
                
                .nav {
                    text-align: center;
                }
                
                .nav a {
                    float: left;
                    width: 20%;
                }
                
                .nav a img {
                    width: 54px;
                    margin: 10px 0 7px 0;
                }
                
                .nav span {
                    display: block;
                }
                
                .news div {
                    margin-top: 10px;
                    float: left;
                }
                
                .news div:nth-child(1) {
                    width: 50%;
                }
                
                .news div:nth-child(2) {
                    width: 25%;
                    border-left: 1px solid #ccc;
                }
                
                .news div:nth-child(3) {
                    width: 25%;
                    border-left: 1px solid #ccc;
                }
                
                .news div img {
                    width: 100%;
                }